.login{
    display:grid;
    place-items: center;
    margin-left:auto;
    margin-right:auto;
    padding-top:100px;
    padding-bottom:100px;
}
.login__logo{
    object-fit: contain;
    margin-bottom:40px;
}
.login>form{
    display:flex;
    flex-direction: column;
}
.login>form>input{
    width:350px;
    height:50px;
    font-size:20px;
    padding-left:10px;
    margin-bottom:10px;
    border-radius: 5px;
}
.login__button{
    width: 365px !important;
    height:50px !important;
    font-size:large !important;
    color:#ffff !important;
    background-color: #0074b1 !important;
    border-radius:5px !important;
}
.login__register{
    color:#0074b1;
    cursor:pointer;
}
.login>p{
    margin-top:20px;
}